/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./1-gallery.css');
@import url('./2-form.css');

:root {
  font-family: Montserrat, Arial, sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.64px;

  color: #242424;
  background-color: rgba(249, 249, 249, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: rgba(194, 241, 245, 0.831);
  min-height: 100vh;
}

.task-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 100px;

  font-size: large;
}

.task-item {
  padding: 20px;
  background-color: rgb(100, 220, 220);
  border-radius: 15px;
  font-size: medium;
  margin-bottom: 15px;
  width: 180px;

  text-align: center;
  cursor: pointer;
}

.task-item a {
  display: flex;
  justify-content: center;
}

.div-back {
  padding-top: 15px;
}

.link-back {
  border-radius: 10px;
  background-color: aquamarine;
  padding: 15px;
  font-weight: 500;
  cursor: pointer;
}
